

.div-borda{
        width: 80%; /* Largura da div em relação à largura da tela */
        max-width: 500px; /* Largura máxima para evitar que a div fique muito larga */
        min-height: 40%;
        padding: 20px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

body{
    background-image: url(../images/pexels-alesia-kozik-6765371\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* fontes do google */
    font-family: 'Archivo', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}

h1{
    text-align: center;
}

